extends ../layouts/common
block content
  h1 Login
  if errors 
    each err in errors
      .alert.alert-danger=err

  form(action="/login", method="POST")
    .form-group
      label(for='email') Email
      input#email.form-control(name ="email" ,type='email', placeholder='Enter your email' , value=value && value.name ? value.name : "")
    .form-group
      label(for='password') Password
      input#password.form-control(name ="password", type='password', placeholder='Enter your password', value=value && value.phone ? value.phone : "" )
    button.btn.btn-primary Login